<html>
    <head>
        <title>{{pageTitle}}</title>
        
    </head>
    <body>
        <h1>Your {{pageTitle}} is here</h1>
        <p>This is some text.</p>
        {{>footer}}
    </body>
</html>