<html>
    <head>
        <title>{{pageTitle}}</title>
        
    </head>
    <body>
        <h1>Your {{pageTitle}} is here</h1>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <p>{{toUpper message}}</p>
        {{>footer}}
    </body>
</html>